.hero.banner-sec {
  min-height: 586px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  background-size: cover;
}

.contact-section {
  padding: 60px 0 0 0;
}

.contact-box {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 40px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.contact-section .contact-title {
  font-size: clamp(28px, 4vw, 36px);
  font-weight: 800;
  color: #102c41;
}

.contact-box .sub-text,
.contact-section .sub-text {
  color: #000;
  font-size: clamp(18px, 4vw, 28px);
  font-weight: 500;
}

.contact-section .form-control {
  border-radius: 5px;
  border: 1px solid #8a8a8a;
  padding: 20px 12px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #f8b400;
}

.contact-btn {
  font-size: 16px;
  background-color: #f6a623 !important;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  padding: 12px 24px;
  transition: 0.3s;
  box-shadow: 0px 4px 6px 0px #f6a62340;
}

.contact-btn:hover {
  background-color: #e0a000;
  color: #fff;
}

.help-box {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.contact-section .icon {
  width: 90px;
  height: 90px;
  background: #f6a623;
  border-radius: 50%;
}
.social-icons .icon {
  margin: 0 8px;
  transition: 0.3s;
  text-decoration: none;
  width: 44px;
  height: 44px;
}

.social-icons a:hover {
  color: #f8b400;
}

.contact-section iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .hero.banner-sec {
    min-height: 220px;
  }
  .contact-box,
  .help-box {
    text-align: center;
    padding: 20px;
  }

  .contact-box {
    margin-bottom: 30px;
  }
}
