 .hero.banner-sec {
            min-height: 586px;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
            background-size: cover;
        }

        .get-in-touch {
            padding: 60px 0 0 0;
        }

        .contact-box {
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            padding: 40px;
            background-repeat: no-repeat;
            object-fit: cover;
            background-size: cover;
            margin-top: -462px
        }

        .get-in-touch .contact-title {
           font-size: clamp(28px, 4vw, 36px);
            font-weight: 800;
            color: #102C41;
        }

        .contact-box .sub-text,
        .get-in-touch .sub-text {
            color: #000;
            font-size: clamp(16px, 2vw, 24px);
            font-weight: 500;
        }

        .get-in-touch .form-control {
            border-radius: 5px;
            border: 1px solid #8a8a8a;
            padding: 20px 12px;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #f8b400;
        }

        .contact-btn {
            font-size: 16px;
            background-color: #f6a623;
            color: #fff;
            font-weight: 600;
            border-radius: 6px;
            border: none;
            padding: 12px 24px;
            transition: 0.3s;
            box-shadow: 0px 4px 6px 0px #F6A62340;
        }

        .contact-btn:hover {
            background-color: #e0a000;
            color: #fff;
        }

        .help-box {
            background: #f5f5f5;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        }

        .get-in-touch .icon {
            width: 90px;
            height: 90px;
            background: #f6a623;
            border-radius: 50%;
        }
        .get-in-touch iframe {
            width: 100%;
            height: 350px;
            border: none;
            border-radius: 10px;
            margin-top: 40px;
        }

        @media (max-width: 768px) {
        .hero.banner-sec{
            min-height: 220px;
        }
            .contact-box,
            .help-box {
                text-align: center;
                padding: 20px;
            }

            .contact-box {
               margin-bottom: 30px;
               margin-top: unset;
            }
            .help-col{
                order: 2;
            }
        }