.hero.banner-sec.news-banner {
  min-height: 586px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  background-size: cover;
}

.banner-sec.news-banner .title-info {
  max-width: 815px;
}

.news-card .news-title {
  font-size: 20px;
  font-weight: 600;
  color: #102c41;
}

.banner-sec.news-banner .hero-text {
  font-size: 24px;
}

.privacy-policy {
	position: relative;
	z-index: 1;
}

.privacy-policy-section {
	position: relative;
	overflow: hidden;
}

.privacy-policy-section::after {
	content: "";
	position: absolute;
	top: 30%;
	right: 0;
	width: 34%;
	height: 35%;
	background-image: url(/images/privacy_policy/mask-shape_1.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	/* opacity: 0.3; */
	transform: translateY(-30%);
	z-index: 0;
	pointer-events: none;
}

.title-text {
	color: #102c41;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sub-title-text {
	color: #000000;
	font-size: 20px;
	font-weight: 600;
}

.sub-text {
	color: #000000;
	font-size: 18px;
}

.privacy-policy .note-box {
	background: #fdecd2;
	border-radius: 12px;
	padding: 12px 16px;
	display: inline-block;
	margin: 6px 0 18px;
}

.privacy-policy .note-box-important {
	background: #f5f5f5;
	border-radius: 12px;
	padding: 12px 16px;
	display: inline-block;
	margin: 6px 0 18px;
}

@media (max-width: 768px) {
	.privacy-policy-section::after {
		display: none;
	}
}
